*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
}
h1{
    font-size: 30px; 
}
p{
    font-size: 10px;
}
button{
    cursor: pointer;
    font-size: 10px;
}
a{
    list-style: none;
    text-decoration: none;
}